################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Registro_estacionamiento/.vs/Registro_estacionamiento/FileContentIndex/45af89f3-fcc1-4228-9330-20ec628f1969.vsidx
