@model RegistrosModel;
@{
    ViewData["Title"] = "Crear Registro";
}
<h1>Crear Registro</h1>
<hr />
<div class="container">
    <div class="row">
        <form id="createRegistroForm" method="post">
            <div class="col-auto">
                <input type="text" class="form-control" id="numeroDePlaca" name="numeroDePlaca" required placeholder="Número de Placa">
            </div>
            <div class="col-auto">
                <button id="btnGuardar" type="submit" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                    </svg>
                    Guardar
                </button>
            </div>
        </form>
    </div>
    @if (ViewBag.FechaHoraSalida != null && ViewBag.CostoTotal != null)
    {
        <div class="row">
            <div id="result" class="col-sm-12 mt-3">
            <h3>Resultado:</h3>
            <p><strong>Fecha y Hora de Salida:</strong> @ViewBag.FechaHoraSalida</p>
            <p><strong>Costo Total:</strong> @ViewBag.CostoTotal</p>
        </div>
        </div>
    }
    <div class="row">
        <div class="col-sm-3">
            <a asp-action="Index" class="btn btn-light">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
                </svg>
                Volver a la lista
            </a>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            
            /*
            $("#btnGuardar").click(function (e) {
                var numeroDePlaca = $('#numeroDePlaca').val();
                if ($("#numeroDePlaca").val() != "") {
                    var credenciales = "{'numeroDePlaca': '" + $("#numeroDePlaca").val() + "'}"
                    requestJsonService("@Url.Action("IniciarSesion", "Home")", "POST", credenciales, function (response) function (response) {
                        if (response.Exito) {
                            swal("Ocurrió un error", " Fecha de Salida:" + response.fechaHoraSalida + " Costo total: $" + response.costoTotal, "success")
                        } else {
                            swal("Ocurrió un error", response.Mensaje, "error")
                        }

                    });
                }
                else {
                    swal("Ocurrió un error", "campo placa vacío", "error")
                }
            });*/
        });
    </script>
}